h1 {
    padding: 1em 0;
}

table tbody tr:nth-child(-n + 2) {
    background-color: lightgreen;
}

table tbody tr:nth-last-child(-n + 2) {
    background-color: lightsalmon;
}

.standings-table {
    overflow-x: auto;
}

.profile-pic {
    display: inline-block;
    margin-right: 0.25em;
}

.profile-pic img {
    max-width: 2em;
    max-height: 2em;
    border-radius: 50%;
}