h1 {
    padding: 1em 0;
}
.standings-table{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
    margin-bottom: 3rem;
}
table tbody tr:nth-child(-n + 2) {
    background-color: rgb(216, 241, 216);
}

table tbody tr:nth-last-child(-n + 2) {
    background-color: rgb(247, 208, 208);
}
table{
    margin-bottom: 0;
}
.standings-table {
    overflow-x: auto;
}

.profile-pic {
    display: inline-block;
    margin-right: 0.25em;
}

.profile-pic img {
    max-width: 2em;
    max-height: 2em;
    border-radius: 50%;
}

table tr td:not(.teams) {
    text-align: center;
}

table tr th:not(.teams) {
    text-align: center;
}

table tr .form div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

table tr .form div span {
    font-size: 0.75em;
    display: inline-block;
    border-radius: 50%;
    margin: 0 0.25em;
    min-width: 1.6em;
    min-height: 1.6em;
    padding: 1em;
    font-weight: bold;
    color: white;
}

.form .win {
    background-color: #21be21;
}

.form .draw {
    background-color: #ffc800de;
}

.form .lose {
    background-color: #e94848f7;
}

@media only screen and (max-width: 768px) {
    .wins, .draws, .loses, .gf, .ga, .gd {
        display: none;
    }

    table tr .form div span {
        font-size: 0.75em;
        min-width: 0.75em;
        min-height: 0.75em;
        padding: 0.5em;
    }
}