<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" toggle type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">PES 2020</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" toggle routerLinkActive="router-link-active" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/leaderboard']" routerLinkActive="router-link-active" toggle>Leaderboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/fixtures']" routerLinkActive="router-link-active" toggle>Fixtures</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/updatescore']" toggle routerLinkActive="router-link-active" >Update Score</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/aboutus']" toggle routerLinkActive="router-link-active" >About Us</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>