<div class="container-fluid mb-4">
  <div class="row">
    <div class="col-sm-3 referee">
      <img src="../../assets/cr7.png" alt="" />
    </div>
    <div class="col-sm-5 mt-4">
      <h3>General Rules</h3>
      <ul>
        <li>No Team Strength Cap.</li>
        <li>Duration of match: TBD.</li>
        <li>WIN – 3PTS, DRAW – 1PT each</li>
        <li>
          All matches should be completed within the deadline as informed by the
          league administration. If not possible please inform the
          administration as early as possible. Genuine reasons will be
          accommodated.
        </li>
        <li>
          If the player is not ready at least 30min before the deadline, the
          opponent will be announced as winner. If both players fail to show up
          the match will be null and void. No points allocated.
        </li>
      </ul>
      <h3>Gameplay Rules</h3>
      <ul>
        <li>
          If match is stopped in first half, play another 90min. The aggregate
          score will be considered final.
        </li>
        <li>
          If match is stopped before 70min in 2nd half, play another 45min.The
          aggregate score will be considered final.
        </li>
        <li>
          If match is stopped after 70min in 2nd half, play remaining time. The
          aggregate score will be considered final. For e.g.: If match is
          stopped at 82min mark. Play another 10min. Take screenshot at 10 min
          mark.
        </li>
      </ul>
      <h6 class="pl-2">
        The league administration will have the power to introduce new rules if
        necessary, as the league moves forward.
      </h6>
    </div>
    <div class="col-sm-4 referee">
      <img src="../../assets/referee.png" alt="" />
    </div>
  </div>
</div>
