<div class="aboutus-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h1 class="aboutus-title">About Us</h1>
      </div>
    </div>
      <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="aboutus">
                  <h2 class="aboutus-name">Arjun K</h2>
                  <p class="aboutus-text">I am Arjun. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis nisi accusamus minus provident aliquam consectetur facere laboriosam alias voluptatem fugiat eligendi tempore nesciunt tempora est, aut reprehenderit nobis molestias odio?</p>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="aboutus-banner">
                  <img class="founderimage" src="../../assets/founders.jpg" alt="founders">
              </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="aboutus ml-4">
                <h2 class="aboutus-name">Abhijith Mahipal</h2>
                <p class="aboutus-text">I am a web developer who look for reasons to build apps. I am an occational footballer in turf and active player in PES2020. When conducting PES Tournament, seeing leaderboard status kept in old model excel file, discussed the idea with the team and started on this.</p>
            </div>
        </div>
      </div>
  </div>
</div>