.fixtures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fixture {
    display: inline-block;
    min-width: calc(25% - 1em); 
    padding: 0.5em;
    margin: 0 1em 1em 0;
    text-align: center;
    box-shadow: -2em 1em rgb(245,245,245);    
}

.fixture .matchday{
    padding: 1em 0;
    font-weight: 400;    
}

@media only screen and (max-width: 1076px) {
    .fixture {
        min-width: calc(50% - 1em);
    }
} 

@media only screen and (max-width: 620px) {
    .fixture {
        min-width: calc(100% - 1em);
    }
} 

/* .fixture .games {
    
} */