<div class="fixtures">
  <div class="fixture" *ngFor="let fixture of fixtures">
    <div class="matchday">
      <h2>{{fixture.MatchDay}}</h2>
    </div>
    <div class="games" *ngFor="let game of fixture.Games">
      <p>{{game.Home}} vs {{game.Away}}</p>
    </div>
  </div>  
</div>
