$color-white: #FFFFFF;
$color-gray: #F2F2F2;
$color-darkgray: #313133;
$color-purple: #524FA1;
$color-blue: #0085B7;
$color-blackone: #231F20;
$color-black: #000000;
$color-lightgray: #525252;
$color-red: #E2194B;
$color-ghostwhite: #DFDFE5;
$color-darkgreen: #126651;
$color-lightgreen: #32C599;
$color-lightpurple: #8AAAD9;
$color-mildgray: #C6C6C6;
$color-shadow: #00000041;
$color-hoverblack:#4A4A4C;
$color-hovergreen:#187d64; //my choice
$color-hoverblue:#E9F2F5;
$color-secondarybtn:#E3E3E3;
$color-secondarybtnborder:#949499;
$color-secondarybtncolor:#636366;
$color-buttongreen:#6E9F43;
$color-modalheaderbg:#F8F8F8;
$color-deactivatebutton:#A30C23;