.home .teams {
    padding: 0;
    display: flex;
}
.imageDiv {
    padding: 15px;
    cursor: pointer;
}
.imageDiv :hover {
    border: 6px gold solid;
}
.teamImage {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.carousal-container {
    width: 25em;
    min-height: 24em;
}

.carousal-image {
    width: 100%;
}

.carousal-video {
    width: 100%;
}

.playerstats {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(10, 1, 6, 0.68)), url("../../assets/footballnet.jpg");
    color: white;
}

.playerstats.defence {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(10, 1, 6, 0.68)), url("../../assets/wall.jpg");
    color: white;
}

.playerstats h3 {
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    padding-top: 0.25em;
}

.statcard {
    display: flex;
    flex-wrap: wrap;
}

.player {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 0.25em;
}

.player:nth-child(odd) {
    padding-left: 0.5em;
}

.player:nth-child(even) {
    padding-right: 0.5em;
}

.player img {
    width: 100%;
    height: 11em;
    border-radius: 50%;
}

.player p {
    text-align: center;
    font-weight: bold;
}

.matchday {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(10, 1, 6, 0.68)), url("../../assets/fire2.jpg");
    background-size: cover;
    text-align: center;
    color: white;
}

.matchday h3 {
    font-family: cursive;
    padding-top: 0.25em;
    font-weight: bold;
}

.matchday .matches {
    padding: 1.5em 1em;
}

.matchday .matches p {
    display: flex;
}

.matchday .matches p span {
    min-width: 31%;
    font-size: 1.5em;
    font-weight: bold;
}

@media only screen and (max-width: 1300px) {
    .carousal-container {
        width: 19em;
    }
}

@media only screen and (max-width: 1020px) {
    .carousal-container {
        width: 15em;
    }

    .matchday .matches p span {
        font-size: 1em;
    }

    .player img {
        height: 8em;
    }
}

@media only screen and (max-width: 560px) {
    .carousal-container {
        width: 16em;
    }
}

//v2 dashboard
.head-toppers {
    line-height: 30px;
    text-align: center;
    margin: 10px auto;
}
.tablecard {
    margin: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    transition: 0.3s;
    width: fit-content;
    table{
        width: auto;
    }
}

$color_purple: #5133ab;
$color_red: #ac193d;
$color_orange: #dc572e;
$color_green: #00a600;
$color_blue: #2672ec;

$base_font_size: 14px;
$base_line_height: 1.5em;
$text_font_family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial,
    sans-serif;
$display_font_family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial,
    sans-serif;

body {
    font-family: $text_font_family;
    font-size: $base_font_size;
    line-height: $base_line_height;
    font-weight: 400;
}

p,
span,
a,
ul,
li,
button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

strong {
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $display_font_family;
    line-height: $base_line_height;
    font-weight: 300;
}

strong {
    font-weight: 400;
}

.tile {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 20px;
    margin-bottom: 10px;

    .title {
        margin-top: 0px;
    }

    &.purple,
    &.blue,
    &.red,
    &.orange,
    &.green {
        color: #fff;
    }

    &.purple {
        background: $color_purple;
        &:hover {
            background: darken($color_purple, 10%);
        }
    }

    &.red {
        background: $color_red;

        &:hover {
            background: darken($color_red, 10%);
        }
    }

    &.green {
        background: $color_green;

        &:hover {
            background: darken($color_green, 10%);
        }
    }

    &.blue {
        background: $color_blue;

        &:hover {
            background: darken($color_blue, 10%);
        }
    }

    &.orange {
        background: $color_orange;

        &:hover {
            background: darken($color_orange, 10%);
        }
    }
}
