.home  .data {
    margin: 1em 0;
}

.home .header {
    padding: 1em 0;
}

.carousal-container {
    width: 25em;
}

.carousal-image {
    width: 100%;
}

.carousal-video {
    width: 100%;
}

@media only screen and (max-width: 1300px) {
    .carousal-container {
        width: 19em;
    }
}

@media only screen and (max-width: 1020px) {
    .carousal-container {
        width: 15em;
    }
}

@media only screen and (max-width: 560px) {
    .carousal-container {
        width: 16em;
    }
}