<div class="home">
  <div class="teams row">
    <div class="imageDiv"><img class="teamImage" src="../../assets/profilePics/Abhijith.jpg" alt=""></div>
    <div class="imageDiv"><img class="teamImage" src="../../assets/profilePics/Adarsh.jpg" alt=""></div>
    <div class="imageDiv"><img class="teamImage" src="../../assets/profilePics/Aditya.jpg" alt=""></div>
    <div class="imageDiv"><img class="teamImage" src="../../assets/profilePics/Akhil.jpg" alt=""></div>
    <div class="imageDiv"><img class="teamImage" src="../../assets/profilePics/Akshay.jpg" alt=""></div>
    <div class="imageDiv"><img class="teamImage" src="../../assets/profilePics/Arjun.jpg" alt=""></div>
    <div class="imageDiv"><img class="teamImage" src="../../assets/profilePics/Arun Dev.jpg" alt=""></div>
    <div class="imageDiv"><img class="teamImage" src="../../assets/profilePics/Arun KA.jpg" alt=""></div>
    <div class="imageDiv"><img class="teamImage" src="../../assets/profilePics/Evin.jpg" alt=""></div>
    <div class="imageDiv"><img class="teamImage" src="../../assets/profilePics/Gopal.jpg" alt=""></div>
    <div class="imageDiv"><img class="teamImage" src="../../assets/profilePics/Jeese.jpg" alt=""></div>
    <div class="imageDiv"><img class="teamImage" src="../../assets/profilePics/Mithun.jpg" alt=""></div>
  </div>
  <div class="my-1 row">
    <h1>Welcome!</h1>
  </div>
  <div class="my-1 row">
    <!-- <p-carousel [value]="carousalData" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions">
      <ng-template let-cdata pTemplate="item">
        <div [ngSwitch]="cdata.carousalType">
          <div class="carousal-container" *ngSwitchCase="'video'">
            <video class="carousal-video" autoplay playsinline muted loop poster="{{cdata.poster}}">
              <source
                src="{{cdata.source}}"
                type="{{cdata.type}}">
            </video>
          </div>
          <div class="carousal-container" *ngSwitchCase="'image'">
            <img class="carousal-image" [src]="cdata.source" alt="item description">
          </div>
          <div class="carousal-container playerstats" *ngSwitchCase="'topscorers'">
              <h3>Top Scorers</h3>
              <div class="statcard">
                <div *ngFor="let item of cdata.data" class="player">
                  <img src="{{getImageUrl(item.Teams)}}" alt="{{item.Teams}}">
                  <p>{{item.Teams}} ({{item.GF}})</p>
                </div>
              </div>              
          </div>
          <div class="carousal-container playerstats defence" *ngSwitchCase="'topdefences'">
            <h3>Top Defences</h3>
            <div class="statcard">
              <div *ngFor="let item of cdata.data" class="player">
                <img src="{{getImageUrl(item.Teams)}}" alt="{{item.Teams}}">
                <p>{{item.Teams}} ({{item.GA}})</p>
              </div>
            </div>              
          </div>
          <div class="carousal-container matchday" *ngSwitchCase="'matchday'">
            <h3>{{cdata.data.MatchDay}}</h3>
            <div class="matches">
              <p *ngFor="let item of cdata.data.Games">
                <span>{{item.Home}}</span>
                <span>vs</span>
                <span>{{item.Away}}</span>
              </p>
            </div>              
          </div>
        </div>
      </ng-template>
    </p-carousel> -->
    <div class="col-12">
      <div class="row">
        <div class="col-xl-4 col-sm-12">
          <div class="tile purple">
            <h3 class="title">Title Winner - Season 2</h3>
            <p>Akhil KJ</p>
          </div>
        </div>
        <div class="col-xl-4 col-sm-12">
          <div class="tile orange">
            <h3 class="title">Runner Up</h3>
            <p>Mithun S</p>
          </div>
        </div>
        <div class="col-xl-4 col-sm-12">
          <div class="tile red">
            <h3 class="title">Emerging Player of the season</h3>
            <p>Arun Dev</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-sm-12">
          <div class="tile green">
          <h6 class="title">Top Defences</h6>
          <div class="tablecard">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Team</th>
                  <th>Total Goals Conceded</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of topDefences">
                  <td>{{item.Teams}}</td>
                  <td>{{item.GA}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        </div>
        <div class="col-xl-4 col-sm-12">
          <div class="tile blue">
          <h6 class="title">Top Scorers</h6>
          <div class="tablecard">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Team</th>
                  <th>Total Goals</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of topScorers">
                  <td>{{item.Teams}}</td>
                  <td>{{item.GF}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>