<div class="update-score">
  <h1>Update Score</h1>
  <div class="matchday">
    <h2>Matchday {{selectedMatchDay}}</h2>
  </div>
  <div>
    <div class="score-card">
      <div class="home">
        <label for="home">Home</label>
        <select id="home" [(ngModel)]="selectedHomeTeam" (ngModelChange)="onHomeTeamChange()">
          <option *ngFor="let team of homeTeams" [ngValue]="team">{{team.Teams}}</option>
        </select>
        <input id="homeGoals" type="number" [(ngModel)]="homeGoals" />
      </div>
      <div class="away">
        <label for="away">Away</label>
        <select id="away" [(ngModel)]="selectedAwayTeam" (ngModelChange)="onAwayTeamChange()">
          <option *ngFor="let team of awayTeams" [ngValue]="team">{{team.Teams}}</option>
        </select>
         <input id="awayGoals" type="number" [(ngModel)]="awayGoals" />        
      </div>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="text" [(ngModel)]="password" id="password"/>
    </div>
    <p class="alert alert-danger" *ngIf="showErrorMsg">Please select teams and enter goals</p>
    <p class="alert alert-danger" *ngIf="isIncorrectPassword">Password missmatch</p>
    <div class="actions">
      <button class="btn btn-primary" [disabled]="isButtonDisabled" (click)="updateScore()">Update Score</button>
    </div>    
  </div>
</div>