.update-score {
    align-items: center;
}

h1 {
    padding: 0.5em 0;
}

label {
    padding-right: 0.25em;
    font-weight: 400;
    min-width: 6em;
}

select {
    min-width: 6em;
    text-align: center;
}

input[type='number'] {
    max-width: 3em;
    margin: 0 0.25em;
    max-height: 1.5em;
}

.matchday {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em 0;
}

.matchday h2 {
    padding-right: 0.25em;
}

.score-card {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em 0;
}

.home {
    padding-right: 1em;
}

.actions {
    padding: 2em 0;
}
